@import url(https://fonts.googleapis.com/css?family=Roboto);

body{
  font-family: 'Roboto', sans-serif;
}

.container{
  text-align: center;
}

input{
  border: 2px solid #3366ff;
  border-radius: 5px;
  height: 35px;

}

ul{
  list-style-type: none;
  text-align: left;
}

ul li{
  border: 1px solid #3366ff;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  border-left: 5px solid #3366ff;
}

ul li a{
  font-size: 1.4em;
}

